h1{
  font-family: Dosis;
  font-size: 32px;
  font-weight: normal;
  line-height: 40.45px;
  color: #3F3D56;

}

h1 span{
  color: #EE24FF;
  font-weight: bold;
  
}

body{
  font-family: Open Sans;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #828282;

}

.parag1{
  width: 540px;
  margin: auto;

}
p span{
  color: #3F3D56;
}

#main{
  width: 626px;
  margin: 64px auto 64px;
}

#footer{
  width: 1024px;
  margin: 16px auto;
}

a{
  color: #3F3D56;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.line{
  width: 391px;
  border: 1px solid #ECEFF2;
}

#footer a+a{
  margin-left: 42px;
}